
/* small phones */
@media (max-width: 375px) {
  :root {
    --font-l: 36px;
    --dinner-size: 375px;
    --dinner-rectangle-width: 380px;
  }
}


/* phones */
@media (min-width: 375px) {
  :root {
    --font-l: 42px;
    --dinner-rectangle-width: 400px;
  }

  header {
    padding: 40px 20px;
  }
}

/* larger phones */
@media (min-width: 540px) {
  :root {
    --dinner-size: 325px;
    --dinner-rectangle-width: 440px;
  }

  header {
    padding: 0 40px 40px;
  }

  .introduction {
    max-width: 90%;
  }
}

@media (max-width: 764px) {
  .activities-container {
    flex-direction: column;
  }

  .dinners,
  .garden {
    padding: 40px 20px;
    letter-spacing: -1px;
  }
}

/* tablets */
@media (min-width: 765px) {
  :root {
    --font-l: 45px;
    --dinner-size: 275px;
    --dinner-rectangle-width: 400px;
  }

  .activities-container {
    flex-direction: row;
  }
}

/* desktop */
@media (min-width: 820px) {
  .dinners,
  .garden {
    padding: 40px;
  }

  footer {
    padding: 0 40px;
  }
}

/* large desktop */
@media (min-width: 1200px) {
  :root {
    --font-l: 60px;
    --dinner-size: 425px;
    --dinner-rectangle-width: 575px;
  }
}