@import "fonts.css";
@import "reset.css";

html, body {
  height: 100%;
}

:root {
  --not-wwwhite: #e7e4cc;
  --gggreen: #5F7738;
  --mmmoss: #2b4124;
  --yyyellow: #cecc7f;
  --ooorange: #b77615;
  --bbbrown: #514139;
  --mmmulch: #783525;
  --mech: "GT-Mechanik-Semi", "Helvetica", Arial, sans-serif;
  --wweg: "wwwegetative", "GT-Mechanik-Semi";
  --trouble: "Adelphe Trouble", "Helvetica", Arial, sans-serif;
}

body {
  background-color: var(--not-wwwhite);
  color: var(--bbbrown);
  font-family: var(--mech);
  hyphens: auto;
  hyphenate-limit-chars: 6 3 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}


main{
	flex:1;
}


h1,
h2,
h3 {
  font-family: var(--trouble);
  font-style: normal;
}

p {
  padding-bottom: 21px;
  font-size: 16px;
  font-weight: 400;
  hyphens: auto;
  hyphenate-limit-chars: 7 3 3;
  line-height: 24px;
  max-width: 50ch;
}

li {
  font-size: 16px;
  font-weight: 300;
  line-height: 0.95rem;
}

header {
  align-items: center;
  background-color: var(--gggreen);
  display: flex;
  height: 2rem;
  position: relative;
  z-index: 30;
}

header h1 {
  align-items: center;
  color: var(--yyyellow);
  display: flex;
  font-family: var(--mech);
  font-size: 21px;
  font-weight: 400;
  line-height: 3rem;
}

h2 {
  color: var(--bbbrown);
  font-size: 26px;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 1rem;
  text-align: left;
}

h3 {
  color: var(--bbbrown);
  font-size: 21px;
  font-weight: 400;
  padding-bottom: 0.5rem;
  text-align: left;
  padding-top: 1rem;
}

.special-w {
  font-family: var(--wweg);
}

span.special-w{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  line-height: 0rem;
}

span.one {
  display: inline-block;
  font-size: 3rem;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  top: 10px;
  transform: rotateZ(15deg);
}

.special-w.two {
  font-size: 5rem;
  margin-left: -20px;
  margin-right: -25px;
  position: relative;
  top: 20px;
}

.special-w.three{
  font-size: 3rem;
  margin-left: -5px;
  margin-right: -5px;
  position: relative;
  top: 10px;
  transform: rotateZ(-15deg);
}


.wwwegetables {
  font-family: var(--mech);
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: var(--gggreen);
}

#project {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  padding: 4rem 0 3rem;
  color: var(--gggreen);
  background-color: var(--not-wwwhite);
  position: relative;
  z-index: 20;
}

#project h2 {
  line-height: 0.7;
}

p.project-description {
  font-size: clamp(0.6rem, 0.8rem, 1rem);
  max-width: 400px;
  line-height: 1rem;
}

img.map {
  max-width: 250px;
}

#logs {
  background-color: var(--not-wwwhite);
  border-bottom: 1px solid var(--bbbrown);
  border-top: 1px solid var(--bbbrown);
  cursor: pointer;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 3;
}

#logs[open] h2,
#logs[open] ul li,
#logs[open]  {
  color: var(--yyyellow);
  background-color: var(--gggreen);
}


.logs-container {
  background-color: var(--not-wwwhite);
  position: relative;
  z-index: 2;
}

.logs-container:has(#logs[open]) {
  background-color: var(--gggreen); 
}


#logs h2 {
  position: relative;
  top: 5px;
}


#logs ul li {
  line-height: 1.4rem;
}

details {
  user-select: none;
}

details summary {
  appearance: none;
  list-style: none;
  padding-left: 0;
  -webkit-appearance: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  color: transparent;
  content: "";
  font-size: 0;
}

.activities-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10rem;
}

#dinners,
#garden {
  width: 44%;
  margin-bottom: 10rem;
}



.vertical-line {
  background-color: var(--bbbrown);
  width: 1px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 50%;
  z-index: 1;
}

div.calendar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 100vw;
  overflow: auto;
  position: relative;
  white-space: nowrap;
  z-index: 1000;
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.calendar::-webkit-scrollbar { 
    display: none;  
}

div.calendar .termin {
  color: var(--bbbrown);
  padding: 14px;
  text-align: center;
  text-decoration: none;
  height: fit-content;
    margin-top: 0.5rem;
}

.termin {
  align-content: center;
  border: 2px dotted var(--bbbrown);
  box-sizing: border-box;
  position: relative;
  text-align: center;
  z-index: 999;
}

div.active {
  border: 1px solid var(--bbbrown);
  min-width: 18rem;
  transform: rotateY(15deg);
}

#logs:hover {
  background-color: var(--gggreen);
  color: var(--yyyellow) !important;
 
}

.oval {
  aspect-ratio: 3 / 2;
  background-color: var(--not-wwwhite);
  border-radius: 50%;
  min-width: 15rem;
}

.square {
  aspect-ratio: 1 / 1;
  background-color: var(--not-wwwhite);
  min-width: 9rem;
}

.rectangle {
  aspect-ratio: 3 / 2;
  background-color: var(--not-wwwhite);
  min-width: 13rem;
}


.date {
  font-size: 0.9rem;
  font-weight: 300;
}

.theme {
  font-weight: 400;
}


.wwws {
  bottom: 57px;
  display: block;
  max-width: 180px;
  mix-blend-mode: multiply;
  position: fixed;
  right: 10px;
  z-index: 1000;
  padding-bottom: 20px;
}

.divider{
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

a.telegram{
  color: inherit;
}

.garden-list{
	border: 2px dotted var(--bbbrown);
	padding: 1rem 2rem 4rem 2rem;
  max-width: fit-content;
  position: relative;
  margin-top: 1rem;
}

.garden-list li{
  font-size: 14px;
  line-height: 1rem;
}

li.got-it{
  text-decoration: line-through;
}

footer {
  background-color: var(--bbbrown);
  bottom: 0;
  color: var(--yyyellow);
  position: static;
  width: 100%;
  left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  
}

.ground{
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

footer a{
  margin: 0;
  text-decoration: none;
	color: var(--yyyellow);
	padding: 0;
}

@media (max-width: 768px) {

  img.map{
    min-width: 300px;
  }

  #logs{
    padding: 10px;
  }

  #project p{
    font-size: 18px;
    line-height: 24px;
  }

  .activities-container{
    flex-direction: column;
    margin-bottom: 0;
    align-content: center;
  }

  #dinners,
  #garden{
    width: 100%;
    margin-bottom: 0;   
  }

  #dinners{
    border-bottom: 1px solid var(--bbbrown);
    padding-bottom: 20px;
  }

  .calendar {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  .vertical-line{
    visibility: hidden;
  }
}

@media (max-width: 480px) {
#project{
   flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
   img.map{
    width: 100%;
  }
    .activities-container{
    flex-direction: column;
    margin-bottom: 0;
  }

   #dinners,
  #garden{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    
  }
  .vertical-line{
    visibility: hidden;
  }
}