@import "fonts.css";
@import "reset.css";

:root {
  --not-wwwhite: rgb(225, 220, 208);
  --gggreen: #608c3f;
  --yyyellow: #ffffb8;
  --ooorange: #d89b2b;
  --ttteal: #0b6049;
  --bbbrown: #2b2725;
  --mmmoss: #c8cec3;
  --mech: "GT-Mechanik-Semi", "Courier New", Courier, monospace;
  --wweg: "wwwegetative", "GT-Mechanik-Semi";
  --h: "CarvingSoft", "Helvetica", Arial, sans-serif;
}

body {
  background-color: var(--gggreen);
  color: var(--bbbrown);
  font-family: var(--mech);
  font-size: 1.4rem;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 2;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  font-style: normal;
}

p {
  padding-bottom: 2rem;
  font-size: clamp(1rem, 1.2rem, 1.3rem);
  font-weight: 400;
  hyphens: auto;
  hyphenate-limit-chars: 7 3 3;
}

li {
  font-size: clamp(0.8rem, 0.95rem, 1.1rem);
  font-weight: 300;
  line-height: 0.95rem;
}

header {
  align-items: center;
  background-color: var(--bbbrown);
  display: flex;
  height: 2.5rem;
}

header h1 {
  align-items: center;
  color: var(--gggreen);
  display: flex;
  font-family: var(--mech);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  padding-left: 2rem;
}

h2 {
  color: var(--bbbrown);
  font-size: clamp(1.4rem, 1.6rem, 1.8rem);
  font-weight: 600;
  line-height: 1;
  padding-bottom: 1rem;
  text-align: left;
}

h3 {
  color: var(--bbbrown);
  font-size: clamp(1.2rem, 1.4rem, 1.6rem);
  font-weight: 500;
  padding-bottom: 1rem;
  text-align: left;
}

.special-w {
  font-family: var(--wweg);
}

span.one {
  display: inline-block;
  font-size: 4rem;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  top: 10px;
  transform: rotateX(45deg);
}

.special-w.two {
  font-size: 5rem;
  margin-left: -20px;
  margin-right: -25px;
  position: relative;
  top: 20px;
}

.wwwegetables {
  font-family: var(--mech);
  font-weight: 500;
  padding-bottom: 0.5rem;
}

#project {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 4rem 0 3rem;
}

#project h2 {
  line-height: 0.7;
}

p.project-description {
  font-size: clamp(0.6rem, 0.8rem, 1rem);
  max-width: 400px;
}

img.map {
  max-width: 300px;
}

#logs {
  background-color: var(--gggreen);
  border-bottom: 1px solid var(--bbbrown);
  border-top: 1px solid var(--bbbrown);
  cursor: pointer;
  margin: 3rem 0;
  padding: 0.5rem 2rem;
}

#logs h2 {
  position: relative;
  top: 5px;
}

#logs h2,
#logs ul li {
  color: var(--bbbrown);
}

details {
  user-select: none;
}

details summary {
  appearance: none;
  list-style: none;
  padding-left: 0;
  -webkit-appearance: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  color: transparent;
  content: "";
  font-size: 0;
}

.activities-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 15rem;
}

#dinners,
#garden {
  width: 45%;
}

.vertical-line {
  background-color: var(--bbbrown);
  width: 1px;
}

div.calendar {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  max-width: 100vw;
  overflow: auto;
  position: absolute;
  white-space: nowrap;
  z-index: 1000;
  margin-top: 2rem;
}

div.calendar .termin {
  color: white;
  display: inline-block;
  padding: 14px;
  text-align: center;
  text-decoration: none;
}

.termin {
  align-content: center;
  border: 2px dotted var(--bbbrown);
  box-sizing: border-box;
  flex: 1 1 0;
  position: relative;
  text-align: center;
  z-index: 999;
}

div.active {
  background-color: rgb(137, 190, 76);
  flex: 2 1 0;
}

.active,
.logs:hover {
  background-color: #ccc;
}

.oval {
  aspect-ratio: 4 / 2;
  background-color: var(--gggreen);
  border-radius: 50%;
  min-width: 18rem;
}

.square {
  aspect-ratio: 1 / 1;
  background-color: var(--gggreen);
  min-width: 13rem;
}

.rectangle {
  aspect-ratio: 4 / 2;
  background-color: var(--gggreen);
  min-width: 11rem;
}

.qualifier {
  font-family: var(--h);
  font-weight: 400;
}

.date {
  font-weight: 300;
}

.theme {
  font-style: oblique;
  font-weight: 400;
}

.snail {
  font-weight: 500;
  text-align: center;
}

.snail::before {
  content: "✉";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

span.log-date {
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
}

.content {
  background-color: var(--bbbrown);
}

.garden-list {
  border: 2px dotted var(--bbbrown);
  font-family: var(--mech);
}